body {
    background-color: #353535;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #f0f0f0;
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
}

.block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
}

.inner-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.block-2-1 {
    transform: rotate(90deg);
}

.block-2-3 {
    transform: rotate(-90deg);
}
